body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-link {
  display: flex;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-left: 50px;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}

.nav-link:hover {
  color: var(--color-blue);
}

.is-active {
  color: var(--color-blue);
  position: relative;
}

.is-active::after {
  position: absolute;
  content: '';
  display: block;
  height: 4px;
  bottom: 0;
  width: 100%;
  background: var(--color-blue);
  border-radius: 8px;
}

:root {
  --color-blue: #00acdc;
}
